.top {
    background-color: #e40046;
    color: black;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .logo img {
      width: 30%;
      height: 30%
    
      
  }

  
  